<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="logout">
            <a href="/logout">Çıkış Yap</a>
        </div>
    <div class="container">
        <h2 class="center">Ekipman Transferi</h2>
        <div class="form-container">
            <form method="POST" action="/transfer">
                <label for="ekipman_id">Ekipman:</label>
                <select id="ekipman_id" name="ekipman_id">
                    {% for ekipman in ekipmanlar %}
                    <option value="{{ ekipman.Eid }}">{{ ekipman.ETur }} - {{ ekipman.EPlaka }}</option>
                    {% endfor %}
                </select><br>
                
                <label for="yukleme_noktasi">Yükleme Noktası:</label>
                <select id="yukleme_noktasi" name="yukleme_noktasi">
                    {% for yn in yukleme_noktalari %}
                    <option value="{{ yn.YNid }}">{{ yn.YNTur }} - {{ yn.YNAdres }}</option>
                    {% endfor %}
                </select><br>
                
                <label for="hedef_noktasi">Hedef Noktası:</label>
                <select id="hedef_noktasi" name="hedef_noktasi">
                    {% for hn in hedef_noktalari %}
                    <option value="{{ hn.HNid }}">{{ hn.HNTur }} - {{ hn.HNAdres }}</option>
                    {% endfor %}
                </select><br>
                
                <input type="submit" value="Transfer">
            </form>
        </div>
    </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--     <title>Dashboard</title> -->
<!--     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="logout">
            <a href="/logout">Çıkış Yap</a>
        </div>
<!--     <h1>Dashboard</h1> -->
<!--     <div class="container">
    <h2 class="center">Ekipman Transferi</h2>
    <div class="form-container">
       <form method="POST" action="/transfer">
           <label for="ekipman_id">Ekipman:</label>
           <select id="ekipman_id" name="ekipman_id">
              {% for ekipman in ekipmanlar %}
              <option value="{{ ekipman.Eid }}">{{ ekipman.ETur }} - {{ ekipman.EPlaka }}</option>
            {% endfor %}
        </select><br>
        
        <label for="yukleme_noktasi">Yükleme Noktası:</label>
        <select id="yukleme_noktasi" name="yukleme_noktasi">
            {% for yn in yukleme_noktalari %}
            <option value="{{ yn.YNid }}">{{ yn.YNTur }} - {{ yn.YNAdres }}</option>
            {% endfor %}
        </select><br>
        
        <label for="hedef_noktasi">Hedef Noktası:</label>
        <select id="hedef_noktasi" name="hedef_noktasi">
            {% for hn in hedef_noktalari %}
            <option value="{{ hn.HNid }}">{{ hn.HNTur }} - {{ hn.HNAdres }}</option>
            {% endfor %}
        </select><br>
        
        <input type="submit" value="Transfer">
    </form>
   </div>
  </div>
    
</body>
</html>  -->
