<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to the Inventory System</h1>
    <a href="/login">Login</a>
    <a href="{{ url_for('register') }}">Kayıt Ol</a>
</body>
</html>












<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Sayfası</title>
</head>
<body>
    <h1>Giriş Sayfası</h1>
    
    <!-- Yükleme Noktası Ekleme Formu -->
<!--     <form action="/add" method="post">
        <label for="yukleme_noktasi">Yükleme Noktası:</label>
        <input type="text" id="yukleme_noktasi" name="yukleme_noktasi" required>
        <button type="submit">Ekle</button>
    </form>

    <!-- Yükleme Noktaları Listesi -->
    <ul>
<!--         {% for yukleme_noktasi in yukleme_noktalari %}
            <li>
                {{ yukleme_noktasi[0] }} - {{ yukleme_noktasi[1] }}
                <a href="/delete/{{ yukleme_noktasi[0] }}">Sil</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html> -->
