<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1>Logout</h1>
    <p>Emin misiniz?</p>
    <a href="/logout">Evet, Çıkış Yap</a>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1>Logout</h1>
    <p>Emin misiniz?</p>
    <form action="/logout" method="post">
        <input type="submit" value="Evet, Çıkış Yap">
    </form>
</body>
</html> -->
